#sidebar {
  width: 275px;
  height: 100vh;
  background-color: green;

  .message-friends {
    margin-top: 1rem;
    width: 100%;
    background-color: cyan;

    &:hover {
      width: 100%;
      cursor: pointer;
    }
  }
}
