#sidebar {
  width: 328px;
  height: 100vh;
  background-color: grey;

  .message-friends {
    margin-top: 1rem;
    width: 100%;
    background-color: lightgray;
    transition: background-color .5s;

    &:hover {
      width: 100%;
      cursor: pointer;
      background-color: lightcyan;
    }
  }
}
